html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  font-size: 100%;
}

body {
  background: #fff;
  color: #222;
  cursor: auto;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  position: relative;
}

/* Accessibility - hides the forward slash */

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Clearing Styles */

/* Foundation Dropdowns */

/* Standard Forms */

/* Using forms within rows, we need to set some defaults */

/* Label Styles */

/* Attach elements to the beginning or end of an input */

/* Adjust padding, alignment and radius if pre/post element is a button */

/* Separate prefix and postfix styles when on span or label so buttons keep their own */

/* We use this to get basic styling on all basic form elements */

/* Respect enforced amount of rows for textarea */

/* Not allow resize out of parent */

:-moz-placeholder {
  /* Firefox 18- */
  color: #cccccc;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #cccccc;
}

:-ms-input-placeholder {
  color: #cccccc;
}

/* Add height value for select elements to match text input height */

select::-ms-expand {
  display: none;
}

/* Adjust margin for form elements below */

/* Normalize file input width */

/* HTML5 Number spinners settings */

/* We add basic fieldset styling */

/* Error Handling */

/* Foundation Joyride */

/* Default styles for the container */

/* Add a little css triangle pip, older browser just miss out on the fanciness of it */

/* Typography */

/* Styles for screens that are at least 768px; */

/* Orbit Graceful Loading */

/* Pagination centred wrapper */

/* Panels */

/* Pricing Tables */

/* Progress Bar */

/* Image Thumbnails */

/* Tooltips */

/* Wrapped around .top-bar to contain to grid width */

/* Typography resets */

div,
h1,
p {
  margin: 0;
  padding: 0;
}

/* Default Link Styles */

/* Default paragraph styles */

p {
  font-family: inherit;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.6;
  margin-bottom: 1.25rem;
  text-rendering: optimizeLegibility;
}

/* Default header styles */

h1 {
  color: #222222;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.4;
  margin-bottom: 0.5rem;
  margin-top: 0.2rem;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2.125rem;
}

/* Helpful Typography Defaults */

/* Lists */

/* Unordered Lists */

/* Ordered Lists */

/* Definition Lists */

/* Abbreviations */

/* Blockquotes */

/* Microformats */

@media only screen and (min-width: 40.0625em) {
  h1 {
    line-height: 1.4;
  }

  h1 {
    font-size: 2.75rem;
  }
}

/* small displays */

/* medium displays */

/* large displays */

/* xlarge displays */

/* xxlarge displays */

/* Orientation targeting */

/* Specific visibility for tables */

@media only screen and (orientation: landscape) {
  /* Specific visibility for tables */
}

@media only screen and (orientation: portrait) {
  /* Specific visibility for tables */
}

/* Touch-enabled device targeting */

/* Specific visibility for tables */

/* Screen reader-specific classes */

/*
       * Print styles.
       *
       * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
       * Credit to Paul Irish and HTML5 Boilerplate (html5boilerplate.com)
      */

@media print {
  * {
    background: transparent !important;
    box-shadow: none !important;
    color: #000000 !important;
    /* Black prints faster: h5bp.com/s */
    text-shadow: none !important;
  }

@page {
    margin: .5cm;
}

  p {
    orphans: 3;
    widows: 3;
  }
}

/* Print visibility */
